.container {
    margin-top: 70px;
    display: flex;
    gap: 80px;
    justify-content: space-between;
}
.cards {
    width: 78%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.loading {
  width: 100%;
  text-align: center;
  height: 1000px;
  margin-top: 100px;
  margin-left: 530px;
}
