.container {
    /* background-color: violet; */
    margin-top: 70px;
    display: flex;
    gap: 80px;
    justify-content: space-between;
}
.cards {
    width: 78%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

